*.pyc
*.pid
*.log
*.sublime-workspace
.virtualenv/
.idea/
content/articles/drafts
output/
node_modules/

# for virtualenv environment        
bin/
include/
lib/
local/
pip-selfcheck.json
.DS_Store
.vscode/